body{
    font-family: 'Lato', sans-serif;
}

.navbar-section{
    width: 100%;
    height: 5rem;
    position: sticky;
    top: 0%;
    background-color: var(--primary-color);
    justify-content: space-evenly;
    align-items: center;
    color: var(--ternary-color);
    z-index: 100;
}

.navbar-icon-btn{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0 8px;
    color: var(--ternary-color);
}

.navbar-brand{
    width: 100%;
    max-width: 20rem;
    font-family: var(--brand-font);
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.search{
    width: 100%;
    min-width: 3rem;
    margin: 0 1rem;
}

.search-input{
    width: 100%;
    height: 2rem;
    border: none;
    padding: 1.5rem;
    font-family: var(--ternary-font);
    font-size: 1rem;
}

.search-input:focus{
    border: none;
}

.search-btn{
    background-color: var(--ternary-color);
}

.navbar-actions{
    justify-content: space-evenly;
    width: 100%;
    max-width: 20rem;
}

.categories-section{
    overflow: scroll;
}

.category-link{
    text-decoration: none;
    color: var(--secondary-color);
}

.category-item{
    padding: 8px 2rem;
}

.category-item:hover{
    transition: all 0.3s ease-out;
    margin-top: 8px;
}

.category-item img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: center;
}

.category-item h4{
    margin: 0;
    font-family: var(--ternary-font);
}

.categories-section::-webkit-scrollbar {
    display: none;
}

.carousel-section{
    width: 100%;
    height: max-content;
    margin: 1rem 0;
}

.carousel-section img{
    width: 100%;
    height: auto;
}

.deals-section{
    margin: 2rem;
}

.deals-title{
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: var(--primary-font);
    letter-spacing: 6px;
    margin: 1rem 0;
}

.deal-items-container{
    flex-wrap: wrap;
    overflow: scroll;
}

.deal-items-container::-webkit-scrollbar {
    display: none;
}

.deal-item{
    margin: 1rem;
}

.deal-item img{
    width: 14rem;
    object-fit: cover;
    object-position: center;
}


@media all and (max-width: 600px) { 
    .categories-section{
        justify-content: start;
    }

    .deal-items-container{
        flex-wrap: nowrap;
        justify-content: start;
    }
} 